.gsd-keyboard.settings-ported
fish
GNOME-xdg-terminals.list
Logseq
QtProject.conf
Zettlr
autostart
dconf
dunst
enchant
evolution
foot
gnome-initial-setup-done
gtk-3.0
htop
ibus
keepassxc
libreoffice
menus
mimeapps.list
monitors.xml
nautilus
nvim
nvtop
old_configs_from_deb_VM
polybar
pulse
qBittorrent
systemd
totem
ulauncher
user-dirs.dirs
user-dirs.locale
virt-viewer
vlc
waybaremoji_time.py
xdg-terminals.list
